# --- DEPENDECIAS GERAIS E APIS ---
streamlit
pandas
numpy
altair
requests
python-dotenv
openpyxl
xlsxwriter
plotly
ofxparse

# --- MICROSOFT E PDFS ---
msal
pypdf

# --- GOOGLE E IA ---
google-generativeai
google-auth-oauthlib
google-auth-httplib2
gspread
oauth2client
groq

# --- COMPONENTES STREAMLIT ---
streamlit-drawable-canvas
streamlit-option-menu
num2words

# --- BANCO DE DADOS E ORM ---
SQLAlchemy
pydantic
psycopg2-binary
pyarrow
